<div class="w-full h-auto flex flex-col items-start justify-start gap-[5px]">
  <label 
    [for]="id"
    class="text-left text-[14px] leading-[20px] text-black font-medium"
  >
    Password
  </label>

  <div class="w-full h-auto min-h-[44px] max-h-[44px] border-[1px] rounded-lg overflow-hidden flex items-center justify-between gap-[5px] px-[15px]">
    <input 
      [id]="id"
      [name]="id"
      [type]="isShowPassword ? 'text' : 'password'"
      placeholder="Password..."
      class="w-full min-h-[44px] max-h-[44px] py-[10px] text-left text-[12px] text-black leading-[16px] focus-within:outline-0 focus:outline-0"
      [value]="value"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
    />

    <button
      type="button"
      class="w-full h-full min-w-[24px] max-w-[24px] min-h-[24px] max-h-[24px] cursor-pointer"
      (click)="toggleIsShowPassword()"
    > 
      @if (isShowPassword) {
        <img 
          src="assets/images/svg/visibility_off_gray_24px.svg"
          alt="Visibility off"
          loading="lazy"
        />
      } @else {
        <img 
          src="assets/images/svg/visibility_gray_24px.svg"
          alt="Visibility"
          loading="lazy"
        />
      }
    </button>
  </div>
</div>