<div class="w-full h-auto flex flex-col items-start justify-start gap-[5px]">
  <button
    type="button"
    class="w-full h-auto px-[20px] rounded-lg py-[10px] text-left text-[16px] leading-[24px] font-medium text-[#6d6d6d] flex items-center justify-between gap-[10px] cursor-pointer transition-all"
    [ngClass]="{
      'bg-blue-500 text-white hover:opacity-85': isActive,
      'bg-none hover:bg-gray-200': !isActive
    }" 
    (click)="toggleShowDropdown()"
  >
    <div class="w-full h-auto flex items-center justify-start gap-[10px]">
      @if (isActive) {
        <img 
          [src]="activeIcon"
          [alt]="`${label} icon`"
          loading="lazy"
        />
      } @else {
        <img 
          [src]="inactiveIcon"
          [alt]="`${label} icon`"
          loading="lazy"
        />
      }

      <span>
        {{label}}
      </span>
    </div>

    <div 
      class="w-full h-full min-w-[24px] max-w-[24px] min-h-[24px] max-h-[24px] transition-all delay-75"
      [ngClass]="{
        'rotate-180': showDropdown,
        '': !showDropdown
      }"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="expand_more_24px">
          <path 
            id="icon/navigation/expand_more_24px" 
            d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z" 
            [ngClass]="{
              'fill-[#ffffff]': isActive,
              'fill-[#6d6d6d]': !isActive
            }"
          />
        </g>
      </svg>
    </div>
  </button>

  @if (showDropdown) {
    <div class="w-full h-auto flex flex-col items-start justify-start gap-[5px]">
      @for (item of child; track $index) {
        <a
          [routerLink]="item.link"
          class="w-full h-auto flex items-center justify-start gap-[10px] text-left text-[16px] leading-[24px] font-medium text-[#6d6d6d] rounded-lg pl-[55px] pr-[20px] py-[10px] transition-all cursor-pointer hover:bg-gray-200"
          [ngClass]="{
            'text-blue-500': isActiveRoute(item.link),
            'bg-none': !isActiveRoute(item.link)
          }"
        >
          {{item.label}}
        </a>
      }
    </div>
  }
</div>
